@charset "UTF-8";
@font-face {
       font-family:"blogIconFont";src:url("http://static.naver.net/blog/common_comment/blogIconFont.eot");src:url("http://static.naver.net/blog/common_comment/blogIconFont.eot?#iefix") format("eot"), url("http://static.naver.net/blog/common_comment/blogIconFont.woff2") format("woff2"), url("http://static.naver.net/blog/common_comment/blogIconFont.woff") format("woff"), url("http://static.naver.net/blog/common_comment/blogIconFont.ttf") format("truetype"), url("http://static.naver.net/blog/common_comment/blogIconFont.svg#blogIconFont") format("svg")
}
.icon_ic-lock-10-x-14:before,.icon_ic_arrow_8x12_left:before,.icon_ic_arrow_8x12_right:before,.icon_ic_more:before,.icon_navigation_a:before,.icon_navigation_b:before,.icon_pc_ilike_normal:before,.icon_pc_ilike_select:before,#post-area .post-btn.post_btn2 .postre .u_likeit_list_module .u_likeit_list_btn .u_ico:before,#post-area .post-btn.post_btn2 .postre .u_likeit_list_module .u_likeit_list_btn.on .u_ico:before{font-family:"blogIconFont";-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-style:normal;font-variant:normal;font-weight:normal;text-decoration:none;text-transform:none}
.icon_ic-lock-10-x-14:before{content:"\E001"}
.icon_ic_arrow_8x12_left:before{content:"\E002"}
.icon_ic_arrow_8x12_right:before{content:"\E003"}
.icon_ic_more:before{content:"\E004"}
.icon_navigation_a:before{content:"\E005"}
.icon_navigation_b:before{content:"\E006"}
.icon_pc_ilike_normal:before{content:"\E007"}
.icon_pc_ilike_select:before{content:"\E008"}
/* NTS UIT PJH */
/* 신규 댓글 공감 버튼 영역 */
#post-area .post_btn2{height:25px;margin-bottom:10px}
#post-area .post_btn2:after{clear:both;display:block;content:''}
#post-area .post_btn2 .post_commentview_btn{float:left}
#post-area .post_btn2 .post_commentview_btn .btn_commentview{display:inline-block;font-size:12px;line-height:22px;text-decoration:none;font-family:"나눔고딕","NanumGothic","NanumGothicWebFont","Malgun Gothic","맑은 고딕","Dotum","돋움","Helvetica","Apple SD Gothic Neo","sans-serif"}
#post-area .post_btn2 .post_commentview_btn .btn_commentview em{font-style:normal;font-weight:bold}
#post-area .post_btn2 .post_commentview_btn .btn_commentview .ico_new{margin:6px 0 0 1px;vertical-align:top}
#post-area .post_btn2 .post_commentview_btn .btn_commentview .icon{display:inline-block;margin:1px 6px 0 4px;vertical-align:top;font-size:11px}
#post-area .post_btn2 .post_commentview_btn .bar{display:inline-block;width:1px;height:14px;margin:4px 7px 0 3px;vertical-align:top}
#post-area .post_btn2 .post_commentview_btn .btn_sympathyview{display:inline-block;font-size:12px;line-height:22px;text-decoration:none;font-family:"나눔고딕","NanumGothic","NanumGothicWebFont","Malgun Gothic","맑은 고딕","Dotum","돋움","Helvetica","Apple SD Gothic Neo","sans-serif"}
#post-area .post_btn2 .post_commentview_btn .btn_sympathyview .icon{display:inline-block;margin:1px 6px 0;vertical-align:top;font-size:11px}
#post-area .post_btn2 .postre{float:left;margin-top:0}
#post-area .post_btn2 .postedit{margin-top:2px}
#post-area .post_btn2 .posts2plug{margin-top:1px}
/* 좋아요 커스텀 */
#post-area .post-btn.post_btn2 .postre .btn_like{height:25px;background-image:none;margin:-1px 0 0 11px}
#post-area .post-btn.post_btn2 .postre .u_likeit_list_module .u_likeit_list_btn{height:25px;padding:0 8px;line-height:25px}
#post-area .post-btn.post_btn2 .postre .u_likeit_list_module .u_likeit_list_btn:before{position:absolute;left:0;top:0;right:0;bottom:0;border-width:1px;border-style:solid;filter:alpha(opacity=20);opacity:0.2;content:''}
#post-area .post-btn.post_btn2 .postre .u_likeit_list_module .u_likeit_list_btn.on:before{filter:alpha(opacity=100);opacity:1}
#post-area .post-btn.post_btn2 .postre .u_likeit_list_module .u_likeit_list_btn .u_ico{display:inline-block;width:16px;height:14px;margin:6px 0 0 0;padding-left:1px;background-image:none;font-size:14px;line-height:14px;vertical-align:top}
#post-area .post-btn.post_btn2 .postre .u_likeit_list_module .u_likeit_list_btn .u_ico:before{content:"\E007"}
#post-area .post-btn.post_btn2 .postre .u_likeit_list_module .u_likeit_list_btn.on .u_ico:before{content:"\E008"}
#post-area .post-btn.post_btn2 .postre .u_likeit_list_module .u_likeit_list_btn .u_cnt{display:inline-block;padding-top:4px !important;line-height:20px;vertical-align:top;font-family:'돋움',Dotum}
/* 프로필 댓글 */
#profile .postre{overflow:hidden;height:25px;margin-bottom:10px}
#profile .postre .date{margin-right:-10px;padding-top:7px}
#profile .postre .post_commentview_btn{float:left;margin-left:-10px}
#profile .postre .post_commentview_btn .btn_commentview{display:inline-block;font-size:12px;line-height:22px;text-decoration:none;font-family:"나눔고딕","NanumGothic","NanumGothicWebFont","Malgun Gothic","맑은 고딕","Dotum","돋움","Helvetica","Apple SD Gothic Neo","sans-serif"}
#profile .postre .post_commentview_btn .btn_commentview em{font-style:normal;font-weight:bold}
#profile .postre .post_commentview_btn .btn_commentview .ico_new{margin:6px 0 0 1px;vertical-align:top}
#profile .postre .post_commentview_btn .btn_commentview .icon{display:inline-block;margin:1px 6px 0 4px;vertical-align:top;font-size:11px}
/* 리모콘 소셜플러그인 */
.blog_remocon .spi_default,.blog_remocon .spi_default ul,.blog_remocon .spi_default li{margin:0;padding:0;font-size:12px;font-family:'나눔고딕',NamumGothic,'Apple SD Gothic Neo','돋움',dotum,sans-serif;line-height:16px;color:#404040}
.blog_remocon .spi_default:after{display:block;clear:both;content:''}
.blog_remocon .spi_default ul,.blog_remocon .spi_default li{list-style:none}
.blog_remocon .spi_default .spi_lst a:hover{text-decoration:none}
.blog_remocon .spi_lst{display:inline-block;*display:inline;zoom:1;text-align:left;padding-right:6px !important}
.blog_remocon .spi_lst a,.blog_remocon .spi_btn_release span,.blog_remocon .spi_btn_me span,.blog_remocon .spi_lst em,.blog_remocon .spi_default .spi_ly_pop .spi_close span,.blog_remocon .spi_default .spi_ly_pop .spi_ico_arr{background:url(http://static.naver.net/common/spi/2017/0705/sp_spi_pc.png) no-repeat}
.blog_remocon .spi_default .spi_lst{*position:relative;z-index:1000}
.blog_remocon .spi_lst:after{display:block;clear:both;content:''}
.blog_remocon .spi_lst li{float:left;position:relative;margin-left:5px}
.blog_remocon .spi_lst li .spi_dimmed,.blog_remocon .spi_lst li .spi_dimmed:link,.blog_remocon .spi_lst li .spi_dimmed:hover,.blog_remocon .spi_lst li .active,.blog_remocon .spi_lst li .spi_dimmed:focus,.blog_remocon .spi_lst li .spi_dimmed:visited{color:#999 !important}
.blog_remocon .spi_lst a{float:left;overflow:hidden;_overflow:visible;width:16px;height:16px;margin:0;padding:0 !important;text-indent:-999px;cursor:pointer}
.blog_remocon .spi_btn_cafe a{background-position:-31px -161px}
.blog_remocon .spi_btn_bookmark a{background-position:-72px -161px}
.blog_remocon .spi_btn_memo a{background-position:-190px -88px}
.blog_remocon .spi_btn_pholar a{background-position:-166px -88px}
.blog_remocon .spi_btn_release{padding-left:12px !important}
.blog_remocon .spi_btn_release a{width:16px;background:none}
.blog_remocon .spi_btn_release .spi_bg_release{display:block;width:16px;height:16px;background-position:-114px -161px}
.blog_remocon .spi_lst em{position:absolute;top:1px;left:3px;_left:3px;width:1px;height:14px;background-position:-160px -161px}
